body {
  margin: 0;
  font-family: sans-serif;
  font-size: 12px;
  background: blue;

}

ul {
  list-style: none;
  padding-left: 0;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}



.everything {
  padding: 1rem;
}

.everything-pic {
  min-height: 100vh;
  background: url('https://unsplash.it/g/1920/1080');

}


.container {

}

.left {
 left: 0;
 position: fixed;
 bottom: 0;
 padding: 2rem;
 overflow: auto;
}

.left-avatar {
 max-width: 4rem;
 border-radius: .50rem;
}

.health {
 float: right;
 color: white;
 padding: 1rem;
 padding-bottom: 1rem;
 vertical-align: top;
}

.health-text {
padding-bottom: 0.25rem;
}

.health-bars {

}

.bar {
  width: 0.5rem;
  height: 1rem;
  border: #a3a3a3 solid 0.1rem;
  background: #fff;
  display: inline-block;
}

.bar-yellow {
  width: 0.5rem;
  height: 1rem;
  border: #a3a3a3 solid 0.1rem;
  background: yellow;
  display: inline-block;
}

.right {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 2rem;
  overflow: auto;
}

.wat {
 text-align: right;
 color: white;
}

.right-bottom {
  overflow: auto;
  display: inline-block;

}

.right-pic {

}

.smi {
 max-width: 4rem;
 display: inline-block;
 border-radius: .50rem;
}

.smkb {
  max-width: 4rem;
 display: inline-block;
 border-radius: .50rem;
}

.wi {
  max-width: 6rem;
 display: inline-block;
 border-radius: .50rem;
}

.center {
  position: fixed;
  top: 50%;
  right: 50%;
  padding: 2rem;
  overflow: auto;
}

.center-avatar {
  max-width: 4rem;
  border-radius: .50rem;
}

.eliminated {
 color: white;
}

.e-one {

}

.e-two {

}




/*    left: 0;
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%; */


/*Formatting of text and image sizes to roughly match example HUD
Formatting of whitespace roughly match example HUD
Use of float to "smash" elements next to each other
Use of position property to position elements on the page
Use of transform: translate to center HUD elements*/
